@{
    ViewData["Title"] = "Política de privacidade";
}

<section class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Essa página ira conter os dados de politica de privacidade.</p>
</section>
